<div class="general-container">
  <div class="response-container">
      <div class="response">
        <ng-container *ngFor="let item of data$ | async">
          <div class="chat-item"  [ngClass]="{'question':item.role === 'user', 'answer': item.role === 'assistant'}">
            <ng-container [ngTemplateOutlet]="item.role === 'user'? queryTemplate : answerTemplate"
              [ngTemplateOutletContext]="{item: item.content}">
            </ng-container>
          </div>
        </ng-container>
      </div>
      <app-loader [isLoading]="isLoading$ | async"></app-loader>
  </div>
  <div class="law-container">
    <form [formGroup]="lawForm" class="law-form">
      <mat-form-field  class="form-field__style" appearance="fill">
        <mat-label>{{ 'LAW_AI_VIEW.TEXT_LABEL' | translate }}</mat-label>
        <textarea matInput
              [disabled]="isLoading$ | async"
              formControlName="query"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="5"
              (keyup.enter)="submitQuery()"></textarea>
          <button class="btn" mat-fab extended (click)="submitQuery()">
            <mat-icon><i class="fa-solid fa-magnifying-glass"></i></mat-icon>
            <span class="ask-lawyer-btn__text">{{ 'LAW_AI_VIEW.SUBMIT_QUESTION' | translate }}</span>
          </button>
      </mat-form-field>
    </form>
  </div>
</div>

<ng-template #answerTemplate let-item="item">
    <span class="response-title">{{ 'LAW_AI_VIEW.RESPONSE_LABEL' | translate }}</span>
    <p class="response-item">{{ item }}</p>
</ng-template>

<ng-template #queryTemplate let-item="item">
  <span class="response-title">{{ 'LAW_AI_VIEW.QUERY_LABEL' | translate }}</span>
  <p class="query-item">{{ item }}</p>
</ng-template>

