<div class="general-container">
  <form [formGroup]="formGroup" ngxsForm="lawDocumentGenerator">
    <mat-form-field class="form-field__style" appearance="fill">
      <mat-label>{{ "LAW_AI_VIEW.DOCUMENT_DATE" | translate }}</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-field__style" appearance="fill">
      <mat-label>{{ "LAW_AI_VIEW.DOCUMENT_CITY" | translate }}</mat-label>
      <input matInput type="text" formControlName="city">
    </mat-form-field>
    <div class="one-row">
      <mat-form-field class="form-field-half__style" appearance="fill">
        <mat-label>{{ "LAW_AI_VIEW.DOCUMENT_SENDER" | translate }}</mat-label>
        <input matInput type="text" formControlName="sender">
      </mat-form-field>
      <mat-form-field class="form-field-half__style" appearance="fill">
        <mat-label>{{ "LAW_AI_VIEW.DOCUMENT_SENDER_ADDRESS" | translate }}</mat-label>
        <input matInput type="text" formControlName="senderAddress">
      </mat-form-field>
    </div>
    <div class="one-row">
      <mat-form-field class="form-field-half__style" appearance="fill">
        <mat-label>{{ "LAW_AI_VIEW.DOCUMENT_RECIPIENT" | translate }}</mat-label>
        <input matInput type="text" formControlName="recipient">
      </mat-form-field>
      <mat-form-field class="form-field-half__style" appearance="fill">
        <mat-label>{{ "LAW_AI_VIEW.DOCUMENT_RECIPIENT_ADDRESS" | translate }}</mat-label>
        <input matInput type="text" formControlName="recipientAddress">
      </mat-form-field>
    </div>
    <div class="one-row">
      <mat-form-field class="form-field-half__style" appearance="fill">
        <mat-label>{{ "LAW_AI_VIEW.DOCUMENT_SENDER_PHONE" | translate }}</mat-label>
        <mat-icon matSuffix>phone</mat-icon>
        <input matInput type="text" formControlName="senderPhone">
      </mat-form-field>
      <mat-form-field class="form-field-half__style" appearance="fill">
        <mat-label>{{ "LAW_AI_VIEW.DOCUMENT_RECIPIENT_PHONE" | translate }}</mat-label>
        <mat-icon matSuffix>phone</mat-icon>
        <input matInput type="text" formControlName="recipientPhone">
      </mat-form-field>
    </div>
    <mat-form-field class="form-field__style" appearance="fill">
      <mat-label>{{ "LAW_AI_VIEW.DOCUMENT_TITLE" | translate }}</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>
    <mat-form-field class="form-field__style" appearance="fill">
      <mat-label>{{ "LAW_AI_VIEW.DOCUMENT_TYPE" | translate }}</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let option of options" [value]="option.type">
          {{ option.translation | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field__style" appearance="fill">
      <mat-label>{{ "LAW_AI_VIEW.DOCUMENT_TEXT" | translate }}</mat-label>
      <textarea matInput
        formControlName="content"
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
    <div class="one-row">
      <button mat-button color="accent" (click)="submit('pdf')">
        <mat-icon>check</mat-icon>
        {{ "LAW_AI_VIEW.DOWNLOAD_PDF" | translate }}
      </button>
      <button mat-button color="accent" (click)="submit('docx')">
        <mat-icon>check</mat-icon>
        {{ "LAW_AI_VIEW.DOWNLOAD_DOCX" | translate }}
      </button>
    </div>
    <mat-spinner *ngIf="isLoading$ | async" class="center__spinner-local" color="accent" diameter="40"></mat-spinner>
  </form>
</div>


<!-- TODO: add this to the component -->
<ng-container *ngIf="fileUrl$ | async as url">
  <div class="document-container">
    <ngx-extended-pdf-viewer
        [src]="url"
        [height]="'auto'"
        [useBrowserLocale]="true"
      >
    </ngx-extended-pdf-viewer>
  </div>
</ng-container>

