.header {
  text-align: center;
  color: aliceblue;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

form {
  width: 100%;
  height: fit-content;
}

mat-form-field {
  width: 100%;
  height: fit-content;
}

.btn-actions {
  float: right;
  padding-right: 30px;
}
