.center-form {
  background-color: black;
}

.header {
  color: black;
  text-align: center;
}

.form {
  display: flex;
  background: rgb(209, 90, 90);
  justify-content: center;
  width: 100%;
  height: fit-content;
}

form {
  width: 100%;
  height: fit-content;
}

mat-form-field {
  width: 100%;
  height: fit-content;
}

.btn-actions {
  float: right;
  padding-right: 30px;
}
