<div class="component-container">
  <div class="header">
      <h3>{{ 'PROVIDE_EMAIL' | translate }}</h3>
  </div>

  <div class="form">
    <form [formGroup]="reminderForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'EMAIL' | translate }}</mat-label>
        <input matInput placeholder="{{ 'EMAIL' | translate }}" formControlName="email">
      </mat-form-field>
      <div class="btn-actions">
          <button class="btn btn-default me-2" type="button" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
          <button class="btn btn-secondary me-2" type="submit">{{ 'SEND' | translate }}</button>
      </div>
    </form>
  </div>
</div>
