/* You can add global styles to this file, and also import other style files */
@import 'webdatarocks/webdatarocks.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


[mat-dialog-title] {
  margin: -24px -24px 0px -24px !important;
  padding: 10px 24px;
  background: rgb(194, 100, 100);
  color: #fff;
  cursor: move;
}

.mat-dialog-container {
  position: relative;
}

.mat-form-field-ripple {
  background-color: #ffffff !important;
}

.mat-focused .mat-form-field-label {
  color: #ffffff !important;
}

html body {
  background-color: rgb(71, 70, 70);
}

.width-100 {
  width: 100%;
}

.component-container {
  margin: 3vh 1vw;
}
