<!-- <div class="component-container">
      <pre>
        <textarea rows="20" [(ngModel)]="JSONValue"></textarea> -->
        <!-- {{ JSONValue | json }} -->
      <!-- </pre>
    <button (click)="accept()">Accept</button>
    <button (click)="generateDescription()">Generate product description</button>


    <img [src]="sanitizer.bypassSecurityTrustUrl(imagePath$ | async)">
</div> -->


<header [title]="data.titleKey"></header>
  <div class="component-container">
    <form [formGroup]="productForm" ngxsForm="Products.productForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <p>
            <mat-form-field class="width-100" appearance="fill">
              <mat-label>{{ 'PRODUCT_DETAILS.NAME' | translate }}</mat-label>
              <input matInput placeholder="{{ 'PRODUCT_DETAILS.NAME' | translate }}" formControlName="name">
            </mat-form-field>
          </p>
        </div>
        <div class="col">
          <p>
            <mat-form-field class="width-100" appearance="fill">
              <mat-label>{{ 'PRODUCT_DETAILS.DESCRIPTION' | translate }}</mat-label>
              <input matInput placeholder="{{ 'PRODUCT_DETAILS.DESCRIPTION' | translate }}" formControlName="description">
            </mat-form-field>
          </p>
        </div>
      </div>
    </form>
    <button (click)="generateImage()">Generate image</button>
    <div class="image-contaner">
      <img [src]="imagePath$ | async" alt="Product">
    </div>
  </div>
<actions-footer-buttons leftButtonName="{{ 'CANCEL' | translate }}" rightButtonName="{{ 'SAVE' | translate }}"></actions-footer-buttons>
