<ul class="nav">
    <li *ngFor="let item of naviOptions">
      <ng-container *ngIf="item.commandType === commandType.noSelection || (item.commandType === commandType.singleSelection && rowsCount === 1)
        || (item.commandType === commandType.multiSelection && rowsCount > 1)">
        <ng-container *ngIf="item.url;else btn">
          <a item.attribute class='{{item.customLinkCssClasses}}' href='{{item.url}}'>{{item.text | translate}}</a>
        </ng-container>
        <ng-template #btn>
          <button item.attribute class='{{item.customLinkCssClasses}}' (click)="item.action()">{{item.text | translate}}</button>
        </ng-template>
      </ng-container>
    </li>
</ul>
