<header [title]="dialogData.titleKey"></header>
<div class="component-container">
  <form [formGroup]="adminForm" ngxsForm="AdminView.adminForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'ADMIN_DETAILS.LOGIN' | translate }}</mat-label>
            <input matInput placeholder="{{ 'ADMIN_DETAILS.LOGIN' | translate }}" formControlName="login">
          </mat-form-field>
        </p>
      </div>
      <div class="col">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'ADMIN_DETAILS.PASSWORD' | translate }}</mat-label>
            <input matInput placeholder="{{ 'ADMIN_DETAILS.PASSWORD' | translate }}" formControlName="password" type="password">
          </mat-form-field>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'ADMIN_DETAILS.MODIFICATION_DATE' | translate }}</mat-label>
            <input matInput placeholder="{{ 'ADMIN_DETAILS.MODIFICATION_DATE' | translate }}" formControlName="modificationDate">
          </mat-form-field>
        </p>
      </div>
      <div class="col">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'ADMIN_DETAILS.ROLES' | translate }}</mat-label>
            <mat-select formControlName="roles">
              <mat-option *ngFor="let role of availableRoles | keyvalue" [value]="role.key">
                {{role.value | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'ADMIN_DETAILS.FIRSTNAME' | translate }}</mat-label>
            <input matInput placeholder="{{ 'ADMIN_DETAILS.FIRSTNAME' | translate }}" formControlName="firstName">
          </mat-form-field>
        </p>
      </div>
      <div class="col">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'ADMIN_DETAILS.LASTNAME' | translate }}</mat-label>
            <input matInput placeholder="{{ 'ADMIN_DETAILS.LASTNAME' | translate }}" formControlName="lastName">
          </mat-form-field>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'ADMIN_DETAILS.ADDRESS' | translate }}</mat-label>
            <input matInput placeholder="{{ 'ADMIN_DETAILS.ADDRESS' | translate }}" formControlName="address">
          </mat-form-field>
        </p>
      </div>
      <div class="col">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'ADMIN_DETAILS.CITY' | translate }}</mat-label>
            <input matInput placeholder="{{ 'ADMIN_DETAILS.CITY' | translate }}" formControlName="city">
          </mat-form-field>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'ADMIN_DETAILS.POSTAL_CODE' | translate }}</mat-label>
            <input matInput placeholder="{{ 'ADMIN_DETAILS.POSTAL_CODE' | translate }}" formControlName="postalCode">
          </mat-form-field>
        </p>
      </div>
      <div class="col">
        <p>
          <mat-form-field appearance="fill">
            <mat-label>{{ 'ADMIN_DETAILS.CREATION_DATE' | translate }}</mat-label>
            <input matInput placeholder="{{ 'ADMIN_DETAILS.CREATION_DATE' | translate }}" formControlName="creationDate">
          </mat-form-field>
        </p>
      </div>
    </div>
  </form>
</div>
<actions-footer-buttons leftButtonName="{{ 'CANCEL' | translate }}" rightButtonName="{{ 'SAVE' | translate }}"></actions-footer-buttons>
